.construction{
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    background-image: url("https://lh3.googleusercontent.com/proxy/js-wl1ZW-IT3_X1oy2qiIYbGMAbG1BnB7WPRmTYk8T3aGkrn2Pfqrp2wBRqTITIrz2m_hZg-eqmTZzFC1REoqu40poTeeZ6SmGAWJ2QkVeWElPZKE_DC-09gwP2hGU0");
    background-repeat: no-repeat;
    background-position: center; 
}