@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

*:focus {
	outline: thin dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
	outline-offset: 0px !important;
	outline: -webkit-focus-ring-color auto 0px;
}

body {
	background: #E5E6F0;
	-webkit-font-smoothing: antialiased;
}

html, body, #root {
	margin: 0 auto;
	padding: 0px 30px;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

body, input, textarea, button {
	font-family: Roboto, sans-serif;
}

.top-bar {
	display: block;
	height: 30px;
	width: 100%;
}