/* COMPONENTES */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input, textarea {
	margin-top: 0px;
	width: 100%;
	padding-left: 20px;
	border: none;
	border-bottom: 1px solid #aaa;
	margin-bottom: 15px;
	transition: 1s;
	border-radius: 15px;
}

input:focus, textarea:focus {
	border: 1px solid #007bff;
}

aside {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background: #fff;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	padding: 30px 30px;
}

aside strong {
	font-size: 20px;
	text-align: center;
	display: block;
	color: #111;
}

aside label {
	margin-bottom: 0px;
}
/* COMPONENTES */

/* CLASSES */
.coords{
	width: 45%;
}
.coords:first-child {
	margin-right: 10%;
}

.save {
	width: 100%;
	background: transparent;
	border: 2px solid #007bff;
	color: #007bff;
	border-radius: 15px;
	padding: 3px;
}

.save:hover {
	background-color: #007bff;
	color: white;
}
/* CLASSES */


/*

aside form {
	margin-top: 30px;
}

aside form .input-block + .input-block {
	margin-top: 20px;
	display: grid;
}

.coords .input-block{
	display: flex !important;
	width: 50%;
}

aside form .coords label {
	margin-top: 0;
	color: #acacac;
	font-size: 14px;
	font-weight: bold;
	display: block;
}

aside form .coords input {
	margin-top: 0;
	width: 100%;
	height: 32px;
	font-size: 14px;
	color: #666;
	border: 0;
	border-bottom: 1px solid #eee;
}

aside form .input-group {
	margin-top: 20px;
	display: flex;
	gap: 20px;
}

aside form .input-block label {
	color: #acacac;
	font-size: 14px;
	font-weight: bold;
	display: block;
}

aside form .input-block input {
	width: 100%;
	height: 32px;
	font-size: 14px;
	color: #666;
	border: 0;
	border-bottom: 1px solid #eee;
}

.bio textarea {
	width: 100%;
} */